/* Universal Styles */

@font-face {
  font-family: "Martel Sans";
  src: url(../fonts/MartelSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Martel Sans";
  src: url(../fonts/MartelSans-ExtraBold.ttf) format('truetype');
  font-weight: 900;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

:root {
  --color-light: #BBB;
  --color-medium: #7F7F7F;
  --color-dark: #555;
}

header, .flex, .navbar {
  display: flex;
}

.image {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5 {
  color: var(--color-dark);
}

p, span, a {
  color: var(--color-medium);
  text-decoration: none;
}

/* Header */

header {
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: var(--color-medium);
  background-color: white;
  border-bottom: 2px solid red; /* Temporary visual aid */
}

.navbar {
  width: 100%;
  align-items: center;
}

.desktop.navbar {
  margin: 0 1.5rem;
  justify-content: space-between;
}

.mobile.navbar .flex {
  width: 100%;
  justify-content: space-around;
}

/* Header: Desktop logo section */

#logo {
  align-items: center;
}

header img {
  max-height: 2rem;
}

#logo-txt span { /* imported font w/weights: 600 & 900 */
  font-family: "Martel Sans", Helvetica, Arial, sans-serif;
  letter-spacing: -0.06em;
}

#logo-txt span:first-child {
  color: var(--color-dark);
  font-weight: 900;
}

#logo-txt span:last-child {
  color: var(--color-light);
  font-weight: 600;
}

/* Header: Desktop nav section */

.desktop nav li:nth-child(1n + 2) { /* Space between links */
  padding-left: 1rem;
}

/* Desktop */

@media only screen and (min-width: 625px) {
  .mobile {
    display: none;
  }
}

/* Mobile */

@media only screen and (max-width: 625px) {
  .desktop {
    display: none;
  }
}
